<nav class="bg-white">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/ProductManager/dashboard">
          <span data-feather="home"></span>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ProductManager/orders" routerLinkActive="active">
          <span data-feather="file"></span>
          Orders
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ProductManager/products" routerLinkActive="active">
          <span data-feather="shopping-cart"></span>
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ProductManager/rooms" routerLinkActive="active">
          <span data-feather="shopping-cart"></span>
          Rooms
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ProductManager/customers" routerLinkActive="active" >
          <span data-feather="users"></span>
          Customers
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ProductManager/customer-issues" routerLinkActive="active" >
          <span data-feather="users"></span>
          Customer issues
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ProductManager/feedbacks" routerLinkActive="active" >
          <span data-feather="users"></span>
          Feedbacks
        </a>
      </li>
    </ul>
  </div>
</nav>
