.roomGrid{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items:center;
    margin-top:20px;
    width:100%;
}
.roomGrid > div{
    width:400px;
    height:auto;
    margin:20px;
}
.reviews-members-header{
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row-reverse;
}
