section {
  padding: 1em;
  width: 100%;
  height: 100%;
  position: relative;

  .primary-btn {
    display: block;
    width: fit-content;
    margin-left: auto;
  }

  #recipe-cards {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 90vh;
    padding-bottom: 60px;

    app-recipe-card {
      width: 23%;
      margin: 1em;

      @media (max-width: 2000px) {
        width: 30%;
      }
      @media (max-width: 1200px) {
        width: 45%;
      }
      @media (max-width: 640px) {
        width: 100%;
      }
    }
  }
}

.uk-modal-dialog {
  form {
    .recipe-form-box {
      margin-top: 1em;

      label {
        font-weight: 500;
        padding-left: 0.5em;
      }

      input {
        width: 100%;
      }

      select {
        width: 100%;
      }

      #season-box {
        display: flex;
        align-items: center;

        .from-to {
          color: var(--color-four);
          font-family: var(--font-one);
          font-size: var(--small);
          margin: 0 0.5em;
        }
      }

      ::ng-deep {
        .ingredient-input-container {
          display: flex;
          justify-content: center;
          color: var(--color-four);
          font-size: var(--small);
          font-family: var(--font-one);

          .ingredient-select {
            width: 70%;
          }

          .ingredient-quantity {
            margin: 0 0.5em;
            width: 20%;
          }

          .ingredient-unit {
            width: 10%;
            align-self: center;
          }

          i {
            margin-left: 1em;
            cursor: pointer;
            color: var(--color-four);
            font-size: 1.5rem;
            align-self: center;
          }
        }
      }

      #add-ingredient,
      .add-instruction {
        font-size: var(--xsmall);
        background: transparent;
        color: var(--color-four);
        width: fit-content;
        font-family: var(--font-one);
        border: none;
        cursor: pointer;

        &:hover {
          box-shadow: none;
          opacity: 0.7;
        }
      }

      .time-input-box {
        display: flex;

        input {
          margin-right: 0.5em;
        }
      }
    }

    button {
      width: 100%;
      padding: 0.5em 1em;
      font-size: var(--small);
      margin-top: 1em;
    }
  }
}
