<div class="guest-upper-bar">
    <h1>Billing</h1>
    <i class="fa-solid fa-magnifying-glass"></i>
    <i class="fa-solid fa-bell"></i>
  </div>
  
  <section class="guest-main">
  <div id="card">

    <div class="guest_details">
        <div class="name_contact">
            <span><b>Name</b>  : Ajay Kumar </span><br>
            <span><b>Contact</b>  : +91 8767875678 </span>
        </div>
        <div class="CheckINOUT">
            <span><b>Check In Date </b>:  March 28th 2022 </span><br>
            <span><b>Check Out Date</b> :  March 30th 2022 </span>
        </div>
        <div class="time">
            <span class="entry"><b>Time</b>: 8:00 AM</span><br>
            <span class="exit"><b>Time</b>: 8:00 AM </span>
        </div>
    </div>
    <table>
        <tr>
          <th>Room No. 23</th>
          <th>Price</th>
        </tr>
        <tr>
          <th>Room Chages</th>
          <th>3,000</th>
        </tr>
        <tr>
          <th>Order: Chiken noodels 2 plate, Veg, Biryani 2 plate  </th>
          <th>3,000</th>
        </tr>
        <tr>
            <th>Laundry: 2pant, 2shirts  </th>
            <th>3,000 </th>
          </tr>
          <tr>
            <th style="font-size: 20px">Tottal</th>
            <th>3,000 </th>
          </tr>
      </table>
      <button>Done</button>
  </div>
  </section>
  